@model Order

<form class="form-horizontal" 
        asp-action="CheckOut" 
        method="post" role="form">
<h4>The time is NOW - Order your dream tour!</h4>
<div class="form-group">
    <label class="col-md2 control-label" asp-for="LastName"></label>
</div>
</form>