<div id="tourDiv">

</div>

@section scripts
{
    <script>

    $(document).ready(function (){
        LoadAdditionalTours();
    });
    
    function LoadAdditionalTours() 
    {
        $.ajax(
        {
            type: 'GET',
            url: '/api/TourData',
            dataType: 'json',
            success: function (data){
            if(data == null)
            {
                alert("no data returned");
                return;
            }

            $.each(data, function(index, tour) 
            {
                var TourSummary =   '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                                    '  <div class="thumbnail">' +
                                    '     <img src="' + tour.thumbnailUrl + '" alt="">' +
                                    '      <div class="caption">' +
                                    '         <h3 class="pull-right">' + tour.price + '</h3>' +
                                    '         <h3>' +
                                    '             <a href=/Tours/Details/' + tour.tourId + '>' + tour.name + '</a>' +
                                    '         </h3>' +
                                    '         <p>' + tour.shortDescription + '</p>' +
                                    '    </div>' +
                                    '    <div class="addToCart">' +
                                    '        <p class="button">' +
                                    '             <a class="btn btn-primary" href=/TourCart/AddToCart?tourId=' + tour.tourId + '>Add to cart</a>' +
                                    '         </p>' +
                                    '     </div>' +
                                    '  </div>' +
                                    '</div>';
                    $('#tourDiv').append(TourSummary);
                });
            },
            error: function (ex) 
            {
                alert(ex);
            }
        });
        return false;
    }    
    </script>
}